.text-list{
    display: flex;
    flex-direction: column;
    padding: 1%;
    background-color: var(--light-color);
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 19px 38px, rgba(0, 0, 0, 0.42) -18px 20px 16px 0px;
    border-radius: 10px;
}