.img {
    position: relative;
}

/* .abdominals {
    position: absolute;
    height: 21%;
    width: 9.4%;
    left: 19%;
    top: 30%;
    z-index: 10;
    background-color: red;
} */

/* .obliques {
    position: absolute;
    height: 16%;
    width: 18.2%;
    left: 14.5%;
    top: 30%;
    z-index: 8;
    background-color: red;
} */

.forearmes {
    position: relative;
    height: 14%;
    width: 38%;
    left: 5%;
    top: 34.5%;
    z-index: 6;
    background-color: red;
}

/* .biceps {
    position: absolute;
    height: 11%;
    width: 31%;
    left: 8%;
    top: 25.5%;
    background-color: red;
} */

/* .shoulders {
    position: absolute;
    height: 8%;
    width: 31.5%;
    left: 8%;
    top: 18%;
    background-color: red;
} */

/* .traps {
    position: absolute;
    height: 5%;
    width: 21%;
    left: 13%;
    top: 14%;
    background-color: red;
} */

/* .chest {
    position: absolute;
    height: 11.5%;
    width: 21.5%;
    left: 13%;
    top: 18.5%;
    z-index: 11;
    background-color: red;
} */

/* .quads {
    position: absolute;
    height: 23.5%;
    width: 21.5%;
    left: 13%;
    top: 46%;
    z-index: 7;
    background-color: red;
} */

/*''''''''''' back '''''''''''''''''''*/

/* .traps-back {
    position: absolute;
    height: 8.5%;
    width: 20.5%;
    left: 65%;
    top: 10%;
    z-index: 8;
    background-color: red;
} */

/* .shoulders-back {
    position: absolute;
    height: 6.5%;
    width: 31%;
    left: 60%;
    top: 18%;
    z-index: 6;
    background-color: red;
} */

/* .mid-back {
    position: absolute;
    height: 10.5%;
    width: 13%;
    left: 70%;
    top: 17%;
    transform: rotate(-45DEG);
    z-index: 7;
    background-color: red;
} */

/* .lats {
    position: absolute;
    height: 16.5%;
    width: 23%;
    left: 64%;
    top: 21%;
    z-index: 6;
    background-color: red;
} */

/* .triceps {
    position: absolute;
    height: 12.5%;
    width: 31%;
    left: 60%;
    top: 24%;
    background-color: red;
} */

/* .lower-back {
    position: absolute;
    height: 9.5%;
    width: 12%;
    left: 69%;
    top: 34%;
    transform: rotate(-45DEG);
    z-index: 8;
    background-color: red;
} */

/* .forearmes-back {
    position: absolute;
    height: 10.5%;
    width: 38%;
    left: 57%;
    top: 36%;
    background-color: red;
} */

/* .Glutes {
    position: absolute;
    height: 11.5%;
    width: 22%;
    left: 64%;
    top: 42%;
    z-index: 9;
    background-color: red;
} */

/* .Hamstrings {
    position: absolute;
    height: 13.5%;
    width: 22%;
    left: 64%;
    top: 53%;
    background-color: red;
} */

/* .calves {
    position: absolute;
    height: 15.5%;
    width: 21%;
    left: 65%;
    top: 67%;
    background-color: red;
} */






.abdominals:hover,
.obliques:hover,
.forearmes:hover,
.biceps:hover,
.shoulders:hover,
.traps:hover,
.chest:hover,
.quads:hover {
    background-color: tomato;
}

.traps-back:hover,
.shoulders-back:hover,
.mid-back:hover,
.lats:hover,
.triceps:hover,
.lower-back:hover,
.forearmes-back:hover,
.Glutes:hover,
.Hamstrings:hover,
.calves:hover {
    background-color: tomato;
}